[Desktop Entry]
Type=Application
Name=mTerminal
GenericName=Terminal Emulator
Comment=Custom terminal emulator with grouped tabs
Exec=env WEBKIT_DISABLE_DMABUF_RENDERER=1 WEBKIT_DISABLE_COMPOSITING_MODE=1 mterminal
Icon=mterminal
Terminal=false
Categories=System;TerminalEmulator;Utility;
Keywords=shell;prompt;command;commandline;cmd;
StartupNotify=true
StartupWMClass=mterminal
